@model Car
<form method="post">
   <input type="text" asp-for="CarId">
   <input type="text" asp-for="MemberId">
   <input type="number" asp-for="ManufacturerId">
   <input type="number" asp-for="CategoryId">
   <input type="text" asp-for="CarName">
   <input type="number" asp-for="ProducedYear">
   <input type="text" asp-for="Color">
   <input type="text" asp-for="NumberPlate">
   <input type="number" asp-for="PricePerDay">
   <input type="text" asp-for="Location">
   <input type="number" asp-for="FuelId">
   <input type="number" asp-for="GearboxId">
   <input type="text" asp-for="ImageUrl">
   

    <div class="row justify-content-center">
        <button class="btn btn-outline-primary mt-3">Lưu lại</button>
    </div>
</form>