<div asp-validation-summary="All">
    <div class="hero inner-page" style="background-image: url('/images/hero_1_a.jpg');">
        <div class="container">
            <div class="row align-items-end ">
                <div class="col-lg-5">
                    <div class="intro">
                        <h1><strong>Đăng ký xe</strong></h1>
                        <div class="custom-breadcrumbs"><a href="index.html">Home</a> <span class="mx-2">/</span>
                            <strong>Đăng ký xe</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section bg-light" id="contact-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-7 text-center mb-2">
                    <h2>Đăng ký xe cho thuê</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <p>Lỗi, không thể thực hiện được.</p>
            </div>
        </div>
    </div>
</div>