@model Category
<div class="hero inner-page" style="background-image: url('/images/hero_1_a.jpg');">        
    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">
                <div class="intro">
                    <h1><strong></strong></h1>
                    <div class="custom-breadcrumbs"><a href="index.html"></a> <span class="mx-2"></span> <strong></strong></div>
                </div>                    

            </div>
        </div>
    </div>
</div> 
<div class="row col-12 justify-content-center ml-4">
    <div class="col-6 " >                
        <form method="post" >
            <input type="hidden" asp-for="CategoryId">
            <div class="row col-6 mt-1">
                <label class="form-label " asp-for="CategoryName">Loại xe</label>
                <input class="form-control" type="text" asp-for="CategoryName">                
            </div>
            <div>
                <button class="btn btn-outline-primary mt-3">Save</button>
            </div>
        </form>
    </div>
</div>